.group_6,
.group_6 * {
  box-sizing: border-box;
}
.group_6 {
  height: 878px;
  position: relative;
}
.group_5 {
  width: 1654.78px;
  height: 312.83px;
  position: static;
}
.rail {
  width: 167.43px;
  height: 5.74px;
  position: absolute;
  left: 15.29px;
  top: 175.7px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 167.43/5.74;
}
.rail2 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 14.91px;
  top: 213.41px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail3 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 14.91px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail4 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 14.91px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail5 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 166.92px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail6 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 166.92px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail7 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 317.19px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail8 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 317.19px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail9 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 468.33px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail10 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 468.33px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail11 {
  width: 139.44px;
  height: 4.78px;
  position: absolute;
  left: 851.23px;
  top: 174.66px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 139.44/4.78;
}
.rail12 {
  width: 139.44px;
  height: 4.78px;
  position: absolute;
  left: 851.23px;
  top: 206.83px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 139.44/4.78;
}
.rail13 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 618.61px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail14 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 618.61px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail15 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 770.62px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail16 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 770.62px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail17 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 922.62px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail18 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 922.62px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail19 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1074.63px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail20 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1074.63px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail21 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1226.63px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail22 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1226.63px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail23 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1378.64px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail24 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1378.64px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail25 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1487.99px;
  top: 404.23px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.rail26 {
  width: 173.79px;
  height: 5.96px;
  position: absolute;
  left: 1487.99px;
  top: 368.73px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, -1);
  object-fit: cover;
  aspect-ratio: 173.79/5.96;
}
.obj_1 {
  width: 54.14px;
  height: 119.73px;
  position: absolute;
  left: 30.59px;
  top: 228.45px;
  object-fit: cover;
  aspect-ratio: 54.14/119.73;
}
.obj_2 {
  width: 54.14px;
  height: 119.73px;
  position: absolute;
  left: 79.82px;
  top: 228.45px;
  object-fit: cover;
  aspect-ratio: 54.14/119.73;
}
.obj_3 {
  width: 54.85px;
  height: 121.3px;
  position: absolute;
  left: 128.14px;
  top: 228.55px;
  object-fit: cover;
  aspect-ratio: 54.85/121.3;
}
.obj_4 {
  width: 55.1px;
  height: 118.81px;
  position: absolute;
  left: 214.49px;
  top: 231.71px;
  object-fit: cover;
  aspect-ratio: 55.1/118.81;
}
.obj_5 {
  width: 67.03px;
  height: 60.27px;
  position: absolute;
  left: 208.61px;
  top: 164.57px;
  object-fit: cover;
  aspect-ratio: 67.03/60.27;
}
.obj_6 {
  width: 86.18px;
  height: 136px;
  position: absolute;
  left: 266.21px;
  top: 169.62px;
  object-fit: cover;
  aspect-ratio: 86.18/136;
}
.obj_7 {
  width: 54.94px;
  height: 61.53px;
  position: absolute;
  left: 377.73px;
  top: 287.8px;
  object-fit: cover;
  aspect-ratio: 54.94/61.53;
}
.obj_8 {
  width: 78.31px;
  height: 78.31px;
  position: absolute;
  left: 367.72px;
  top: 200.17px;
  object-fit: cover;
  aspect-ratio: 1;
}
.obj_9 {
  width: 54.63px;
  height: 120.81px;
  position: absolute;
  left: 464.12px;
  top: 226.3px;
  object-fit: cover;
  aspect-ratio: 54.63/120.81;
}
.obj_10 {
  width: 54.45px;
  height: 60.98px;
  position: absolute;
  left: 653.27px;
  top: 287.77px;
  object-fit: cover;
  aspect-ratio: 54.45/60.98;
}
.obj_11 {
  width: 105.91px;
  height: 135.81px;
  position: absolute;
  left: 627.79px;
  top: 135.04px;
  object-fit: cover;
  aspect-ratio: 105.91/135.81;
}
.obj_12 {
  width: 54.45px;
  height: 60.98px;
  position: absolute;
  left: 762.96px;
  top: 287.77px;
  object-fit: cover;
  aspect-ratio: 54.45/60.98;
}
.obj_13 {
  width: 105.91px;
  height: 135.81px;
  position: absolute;
  left: 737.47px;
  top: 144.1px;
  object-fit: cover;
  aspect-ratio: 105.91/135.81;
}
.obj_14 {
  width: 54.85px;
  height: 121.3px;
  position: absolute;
  left: 858.8px;
  top: 227.44px;
  object-fit: cover;
  aspect-ratio: 54.85/121.3;
}
.obj_15 {
  width: 54.85px;
  height: 121.3px;
  position: absolute;
  left: 907.16px;
  top: 227.44px;
  object-fit: cover;
  aspect-ratio: 54.85/121.3;
}
.obj_16 {
  width: 54.45px;
  height: 60.98px;
  position: absolute;
  left: 1009.96px;
  top: 287.77px;
  object-fit: cover;
  aspect-ratio: 54.45/60.98;
}
.obj_17 {
  width: 105.91px;
  height: 135.81px;
  position: absolute;
  left: 984.48px;
  top: 144.1px;
  object-fit: cover;
  aspect-ratio: 105.91/135.81;
}
.obj_18 {
  width: 54.45px;
  height: 60.98px;
  position: absolute;
  left: 1119.65px;
  top: 287.77px;
  object-fit: cover;
  aspect-ratio: 54.45/60.98;
}
.obj_19 {
  width: 105.91px;
  height: 135.81px;
  position: absolute;
  left: 1094.17px;
  top: 144.1px;
  object-fit: cover;
  aspect-ratio: 105.91/135.81;
}
.obj_20 {
  width: 55.1px;
  height: 118.81px;
  position: absolute;
  left: 1219.8px;
  top: 231.71px;
  object-fit: cover;
  aspect-ratio: 55.1/118.81;
}
.obj_21 {
  width: 67.03px;
  height: 60.27px;
  position: absolute;
  left: 1213.91px;
  top: 164.57px;
  object-fit: cover;
  aspect-ratio: 67.03/60.27;
}
.obj_22 {
  width: 86.18px;
  height: 136px;
  position: absolute;
  left: 1271.51px;
  top: 169.62px;
  object-fit: cover;
  aspect-ratio: 86.18/136;
}
.obj_23 {
  width: 54.94px;
  height: 61.53px;
  position: absolute;
  left: 1381.31px;
  top: 287.8px;
  object-fit: cover;
  aspect-ratio: 54.94/61.53;
}
.obj_24 {
  width: 78.31px;
  height: 78.31px;
  position: absolute;
  left: 1371.3px;
  top: 200.17px;
  object-fit: cover;
  aspect-ratio: 1;
}
.obj_25 {
  width: 54.85px;
  height: 121.3px;
  position: absolute;
  left: 1469.41px;
  top: 228.55px;
  object-fit: cover;
  aspect-ratio: 54.85/121.3;
}
.obj_26 {
  width: 54.85px;
  height: 121.3px;
  position: absolute;
  left: 1523.82px;
  top: 228.55px;
  object-fit: cover;
  aspect-ratio: 54.85/121.3;
}
.obj_27 {
  width: 54.85px;
  height: 121.3px;
  position: absolute;
  left: 1578.23px;
  top: 228.55px;
  object-fit: cover;
  aspect-ratio: 54.85/121.3;
}
.obj_28 {
  width: 54.94px;
  height: 61.53px;
  position: absolute;
  left: 30.78px;
  top: 104px;
  object-fit: cover;
  aspect-ratio: 54.94/61.53;
}
.obj_282 {
  width: 54.94px;
  height: 61.53px;
  position: absolute;
  left: 126.78px;
  top: 104px;
  object-fit: cover;
  aspect-ratio: 54.94/61.53;
}
.cart_1 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 7px;
  top: 357.3px;
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_2 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 7px;
  top: 164.28px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_3 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 50.68px;
  top: 357.3px;
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_4 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 50.65px;
  top: 164.28px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_5 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 98.18px;
  top: 357.3px;
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_6 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 98.15px;
  top: 164.28px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_7 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 186.28px;
  top: 357.3px;
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_8 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 349.48px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_9 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 546.29px;
  top: 357.3px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_10 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 624.13px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_11 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 733.81px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_12 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 832.04px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_13 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 829.04px;
  top: 160.96px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_14 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 879.04px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_15 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 876.04px;
  top: 160.96px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_16 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 911.04px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_17 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 911.04px;
  top: 160.96px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_18 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 980.82px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_19 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 1090.5px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_20 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 1191.58px;
  top: 357.3px;
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_21 {
  width: 94.77px;
  height: 55.9px;
  position: absolute;
  left: 1353.06px;
  top: 357.2px;
  object-fit: cover;
  aspect-ratio: 94.77/55.9;
}
.cart_22 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 1553.28px;
  top: 357.3px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_23 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 1604.28px;
  top: 357.3px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_24 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 1604.28px;
  top: 164.26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_25 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 1658.69px;
  top: 361.21px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.cart_26 {
  width: 94.28px;
  height: 55.61px;
  position: absolute;
  left: 1658.69px;
  top: 164.26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 94.28/55.61;
}
.tong_1 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 34.56px;
  top: 360.36px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_2 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 35.45px;
  top: 292.65px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_3 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 35.4px;
  top: 228.38px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_4 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 35.45px;
  top: 165.07px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_5 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 35.45px;
  top: 109.07px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_6 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 83.82px;
  top: 360.33px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_7 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 83.76px;
  top: 291.61px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_8 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 83.76px;
  top: 228.38px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_9 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 83.76px;
  top: 165.14px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_10 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 132.13px;
  top: 358.18px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_11 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 132.97px;
  top: 294.98px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_12 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 132.13px;
  top: 228.38px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_13 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 132.16px;
  top: 165.11px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_14 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 132.16px;
  top: 109.11px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_15 {
  width: 45.34px;
  height: 51.66px;
  position: absolute;
  left: 219.38px;
  top: 361.47px;
  object-fit: cover;
  aspect-ratio: 45.34/51.66;
}
.tong_16 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 219.36px;
  top: 294.94px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_17 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 219.36px;
  top: 233.93px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_18 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 220.25px;
  top: 166.21px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_19 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 382.65px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_20 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 382.65px;
  top: 294.87px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_21 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 384.37px;
  top: 208.34px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_22 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 469.01px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_23 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 468.99px;
  top: 292.69px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_24 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 468.99px;
  top: 227.23px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_25 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 658.15px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_26 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 658.13px;
  top: 294.91px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_27 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 657.78px;
  top: 219px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_28 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 658.13px;
  top: 225.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_29 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 658.13px;
  top: 149.57px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_30 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 767.84px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_31 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 767.81px;
  top: 294.91px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_32 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 767.81px;
  top: 219.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_33 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 767.81px;
  top: 225.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_34 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 767.81px;
  top: 149.57px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_35 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 864.49px;
  top: 360.43px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_36 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 863.63px;
  top: 293.87px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_37 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 862.79px;
  top: 227.27px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_38 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 863.63px;
  top: 164.07px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_39 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 911.99px;
  top: 360.43px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_40 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 911.99px;
  top: 293.87px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_41 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 911.15px;
  top: 227.27px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_42 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 910.26px;
  top: 164.07px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_43 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1014.85px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_44 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1014.82px;
  top: 294.91px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_45 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1014.82px;
  top: 219.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_46 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1014.82px;
  top: 225.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_47 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1014.82px;
  top: 149.57px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_48 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1124.53px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_49 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1124.51px;
  top: 294.91px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_50 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1124.51px;
  top: 219.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_51 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1124.51px;
  top: 225.01px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_52 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1124.51px;
  top: 149.57px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_53 {
  width: 45.34px;
  height: 51.66px;
  position: absolute;
  left: 1224.69px;
  top: 361.47px;
  object-fit: cover;
  aspect-ratio: 45.34/51.66;
}
.tong_54 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 1224.66px;
  top: 294.94px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_55 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 1224.66px;
  top: 233.93px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_56 {
  width: 45.28px;
  height: 51.59px;
  position: absolute;
  left: 1225.56px;
  top: 166.21px;
  object-fit: cover;
  aspect-ratio: 45.28/51.59;
}
.tong_57 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1386.22px;
  top: 361.44px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_58 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1386.22px;
  top: 294.87px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_59 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1387.95px;
  top: 208.34px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_60 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 1475.1px;
  top: 359.32px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_61 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 1475.1px;
  top: 294.98px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_62 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 1474.26px;
  top: 228.38px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_63 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 1528.65px;
  top: 359.32px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_64 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 1528.65px;
  top: 294.98px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_65 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 1527.81px;
  top: 228.38px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_66 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1527.86px;
  top: 166.18px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.tong_67 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 1583.06px;
  top: 359.32px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_68 {
  width: 46.2px;
  height: 52.64px;
  position: absolute;
  left: 1583.06px;
  top: 294.98px;
  object-fit: cover;
  aspect-ratio: 46.2/52.64;
}
.tong_69 {
  width: 45.77px;
  height: 52.15px;
  position: absolute;
  left: 1582.22px;
  top: 228.38px;
  object-fit: cover;
  aspect-ratio: 45.77/52.15;
}
.tong_70 {
  width: 44.85px;
  height: 51.11px;
  position: absolute;
  left: 1583.14px;
  top: 166.18px;
  object-fit: cover;
  aspect-ratio: 44.85/51.11;
}
.door_1 {
  width: 9.84px;
  height: 53.56px;
  position: absolute;
  left: 377.8px;
  top: 208.5px;
  object-fit: cover;
  aspect-ratio: 9.84/53.56;
}
.door_2 {
  width: 10.42px;
  height: 56.72px;
  position: absolute;
  left: 425.26px;
  top: 208.71px;
  object-fit: cover;
  aspect-ratio: 10.42/56.72;
}
.door_3 {
  width: 9.84px;
  height: 53.56px;
  position: absolute;
  left: 1381.37px;
  top: 208.5px;
  object-fit: cover;
  aspect-ratio: 9.84/53.56;
}
.door_4 {
  width: 10.42px;
  height: 56.72px;
  position: absolute;
  left: 1428.84px;
  top: 208.71px;
  object-fit: cover;
  aspect-ratio: 10.42/56.72;
}
.nobody_pen_1 {
  width: 18.74px;
  height: 8.74px;
  position: absolute;
  left: 360.86px;
  top: 322px;
  object-fit: cover;
  aspect-ratio: 18.74/8.74;
}
.body_pen_1 {
  width: 15.76px;
  height: 8.76px;
  position: absolute;
  left: 361.9px;
  top: 322px;
  object-fit: cover;
  aspect-ratio: 15.76/8.76;
}
.offpen_1 {
  width: 5.07px;
  height: 22.69px;
  position: absolute;
  left: 373.76px;
  top: 315.17px;
  object-fit: cover;
  aspect-ratio: 5.07/22.69;
}
.onpen_1 {
  width: 6.05px;
  height: 21.88px;
  position: absolute;
  left: 373.7px;
  top: 315.11px;
  object-fit: cover;
  aspect-ratio: 6.05/21.88;
}
.nobody_pen_2 {
  width: 18.74px;
  height: 8.74px;
  position: absolute;
  left: 450.3px;
  top: 300.92px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 18.74/8.74;
}
.body_pen_2 {
  width: 17.13px;
  height: 9.52px;
  position: absolute;
  left: 449.34px;
  top: 300.97px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 17.13/9.52;
}
.offpen_2 {
  width: 5.56px;
  height: 24.87px;
  position: absolute;
  left: 437.43px;
  top: 295.34px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 5.56/24.87;
}
.onpen_2 {
  width: 6.54px;
  height: 23.66px;
  position: absolute;
  left: 437.49px;
  top: 295.26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 6.54/23.66;
}
.nobody_pen_3 {
  width: 18.74px;
  height: 8.74px;
  position: absolute;
  left: 1364.44px;
  top: 322px;
  object-fit: cover;
  aspect-ratio: 18.74/8.74;
}
.body_pen_3 {
  width: 17.62px;
  height: 9.79px;
  position: absolute;
  left: 1364.51px;
  top: 322.07px;
  object-fit: cover;
  aspect-ratio: 17.62/9.79;
}
.offpen_3 {
  width: 5.07px;
  height: 22.69px;
  position: absolute;
  left: 1377.33px;
  top: 315.17px;
  object-fit: cover;
  aspect-ratio: 5.07/22.69;
}
.onpen_3 {
  width: 6.05px;
  height: 21.88px;
  position: absolute;
  left: 1377.28px;
  top: 315.11px;
  object-fit: cover;
  aspect-ratio: 6.05/21.88;
}
.nobody_pen_4 {
  width: 18.74px;
  height: 8.74px;
  position: absolute;
  left: 1453.87px;
  top: 300.92px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 18.74/8.74;
}
.body_pen_4 {
  width: 17.13px;
  height: 9.52px;
  position: absolute;
  left: 1452.92px;
  top: 300.97px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 17.13/9.52;
}
.offpen_4 {
  width: 5.56px;
  height: 24.87px;
  position: absolute;
  left: 1441.01px;
  top: 295.34px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 5.56/24.87;
}
.onpen_4 {
  width: 6.54px;
  height: 23.66px;
  position: absolute;
  left: 1441.07px;
  top: 295.26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 6.54/23.66;
}
.nomalpen_1 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 393.31px;
  top: 221.99px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.greenpen_1 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 393.31px;
  top: 221.99px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.nomalpen_2 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 667.95px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.greenpen_2 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 667.95px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.nomalpen_3 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 777.64px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.greenpen_3 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 777.64px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.nomalpen_4 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 1024.65px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.greenpen_4 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 1024.65px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.nomalpen_5 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 1134.33px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.greenpen_5 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 1134.33px;
  top: 164.3px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.nomalpen_6 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 1396.88px;
  top: 221.99px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.greenpen_6 {
  width: 25.1px;
  height: 22.92px;
  position: absolute;
  left: 1396.88px;
  top: 221.99px;
  object-fit: cover;
  aspect-ratio: 25.1/22.92;
}
.longoff_1 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 654.11px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longon_1 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 654.11px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longoff_2 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 695.57px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longon_2 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 695.57px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longoff_3 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 763.79px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longon_3 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 763.79px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longoff_4 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 805.25px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longon_4 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 805.25px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longoff_5 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 1010.8px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longon_5 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 1010.8px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longoff_6 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 1052.26px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longon_6 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 1052.26px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longoff_7 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 1120.49px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longon_7 {
  width: 10.87px;
  height: 58.18px;
  position: absolute;
  left: 1120.49px;
  top: 144.47px;
  object-fit: cover;
  aspect-ratio: 10.87/58.18;
}
.longoff_8 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 1161.95px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.longon_8 {
  width: 10.78px;
  height: 57.69px;
  position: absolute;
  left: 1161.95px;
  top: 144.43px;
  object-fit: cover;
  aspect-ratio: 10.78/57.69;
}
.graypen_1 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 637.93px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_1 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 637.93px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_2 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 701.84px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_2 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 701.84px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_3 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 747.61px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_3 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 747.61px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_4 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 811.53px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_4 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 811.53px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_5 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 994.62px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_5 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 994.62px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_6 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 1058.53px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_6 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 1058.53px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_7 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 1104.31px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_7 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 1104.31px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.graypen_8 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 1168.22px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bluepen_8 {
  width: 21.62px;
  height: 20.48px;
  position: absolute;
  left: 1168.22px;
  top: 239.58px;
  object-fit: cover;
  aspect-ratio: 21.62/20.48;
}
.bignomal_1 {
  width: 48.79px;
  height: 16.69px;
  position: absolute;
  left: 656.19px;
  top: 242.66px;
  object-fit: cover;
  aspect-ratio: 48.79/16.69;
}
.down_1 {
  width: 40.59px;
  height: 15.53px;
  position: absolute;
  left: 659.93px;
  top: 243.76px;
  object-fit: cover;
}
.up_1 {
  width: 47.98px;
  height: 16.63px;
  position: absolute;
  left: 656.24px;
  top: 242.65px;
  object-fit: cover;
  aspect-ratio: 47.98/16.63;
}
.bignomal_2 {
  width: 48.79px;
  height: 16.69px;
  position: absolute;
  left: 765.88px;
  top: 242.66px;
  object-fit: cover;
  aspect-ratio: 48.79/16.69;
}
.down_2 {
  width: 40.59px;
  height: 15.53px;
  position: absolute;
  left: 769.61px;
  top: 243.76px;
  object-fit: cover;
}
.up_2 {
  width: 47.98px;
  height: 16.63px;
  position: absolute;
  left: 765.93px;
  top: 242.65px;
  object-fit: cover;
  aspect-ratio: 47.98/16.63;
}
.bignomal_3 {
  width: 48.79px;
  height: 16.69px;
  position: absolute;
  left: 1012.89px;
  top: 242.66px;
  object-fit: cover;
  aspect-ratio: 48.79/16.69;
}
.down_3 {
  width: 40.59px;
  height: 15.53px;
  position: absolute;
  left: 1016.62px;
  top: 243.76px;
  object-fit: cover;
}
.up_3 {
  width: 47.98px;
  height: 16.63px;
  position: absolute;
  left: 1012.94px;
  top: 242.65px;
  object-fit: cover;
  aspect-ratio: 47.98/16.63;
}
.bignomal_4 {
  width: 48.79px;
  height: 16.69px;
  position: absolute;
  left: 1122.57px;
  top: 242.66px;
  object-fit: cover;
  aspect-ratio: 48.79/16.69;
}
.down_4 {
  width: 40.59px;
  height: 15.53px;
  position: absolute;
  left: 1126.31px;
  top: 243.76px;
  object-fit: cover;
}
.up_4 {
  width: 47.98px;
  height: 16.63px;
  position: absolute;
  left: 1122.62px;
  top: 242.65px;
  object-fit: cover;
  aspect-ratio: 47.98/16.63;
}
.grayBox_1 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 637.04px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_1 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 637.04px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_2 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 637.04px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_2 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 637.04px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_3 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 700.95px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_3 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 700.95px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_4 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 700.95px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_4 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 700.95px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_5 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 746.72px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_5 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 746.72px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_6 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 746.72px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_6 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 746.72px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_7 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 810.64px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_7 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 810.64px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_8 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 810.64px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_8 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 810.64px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_9 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 993.73px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_9 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 993.73px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_10 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 993.73px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_10 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 993.73px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_11 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1057.64px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_11 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1057.64px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_12 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1057.64px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_12 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1057.64px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_13 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1103.42px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_13 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1103.42px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_14 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1103.42px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_14 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1103.42px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_15 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1167.33px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_15 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1167.33px;
  top: 265.51px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.grayBox_16 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1167.33px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.redBox_16 {
  width: 22.08px;
  height: 9.99px;
  position: absolute;
  left: 1167.33px;
  top: 225.57px;
  object-fit: cover;
  aspect-ratio: 22.08/9.99;
}
.red_1 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 347.04px;
  top: 230.38px;
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_1 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 347.05px;
  top: 230.38px;
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_2 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 743.08px;
  top: 205.97px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_2 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 743.07px;
  top: 205.98px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_3 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 739.63px;
  top: 167.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_3 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 739.62px;
  top: 167.15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_4 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 852.76px;
  top: 205.97px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_4 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 852.76px;
  top: 205.98px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_5 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 849.31px;
  top: 167.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_5 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 849.3px;
  top: 167.15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_6 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 1099.77px;
  top: 205.97px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_6 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 1099.76px;
  top: 205.98px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_7 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 1096.32px;
  top: 167.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_7 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 1096.31px;
  top: 167.15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_8 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 1209.46px;
  top: 205.97px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_8 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 1209.45px;
  top: 205.98px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_9 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 1206px;
  top: 167.14px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_9 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 1205.99px;
  top: 167.15px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(-1, 1);
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.red_10 {
  width: 33.42px;
  height: 15.6px;
  position: absolute;
  left: 1350.62px;
  top: 230.38px;
  object-fit: cover;
  aspect-ratio: 33.42/15.6;
}
.green_10 {
  width: 33.26px;
  height: 15.67px;
  position: absolute;
  left: 1350.63px;
  top: 230.38px;
  object-fit: cover;
  aspect-ratio: 33.26/15.67;
}
.doorNomal_1 {
  width: 59.37px;
  height: 11.81px;
  position: absolute;
  left: 213.38px;
  top: 220.14px;
  object-fit: cover;
  aspect-ratio: 59.37/11.81;
}
.doorClose_1 {
  width: 59.37px;
  height: 11.81px;
  position: absolute;
  left: 213.38px;
  top: 220.14px;
  object-fit: cover;
  aspect-ratio: 59.37/11.81;
}
.doorOpen_1 {
  width: 59.37px;
  height: 11.81px;
  position: absolute;
  left: 213.38px;
  top: 220.14px;
  object-fit: cover;
  aspect-ratio: 59.37/11.81;
}
.doorNomal_2 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 376.58px;
  top: 271.18px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorClose_2 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 376.58px;
  top: 271.18px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorOpen_2 {
  width: 57.9px;
  height: 11.52px;
  position: absolute;
  left: 378.42px;
  top: 271.15px;
  object-fit: cover;
  aspect-ratio: 57.9/11.52;
}
.doorNomal_3 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 650.36px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorClose_3 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 650.36px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorOpen_3 {
  width: 57.9px;
  height: 11.52px;
  position: absolute;
  left: 652.2px;
  top: 275.59px;
  object-fit: cover;
  aspect-ratio: 57.9/11.52;
}
.doorNomal_4 {
  width: 60.35px;
  height: 11.62px;
  position: absolute;
  left: 650.33px;
  top: 211.25px;
  object-fit: cover;
  aspect-ratio: 60.35/11.62;
}
.doorClose_4 {
  width: 59.97px;
  height: 11.89px;
  position: absolute;
  left: 650.36px;
  top: 210.72px;
  object-fit: cover;
  aspect-ratio: 59.97/11.89;
}
.doorOpen_4 {
  width: 60.87px;
  height: 12.49px;
  position: absolute;
  left: 651.17px;
  top: 210.2px;
  object-fit: cover;
  aspect-ratio: 60.87/12.49;
}
.doorNomal_5 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 760.05px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorClose_5 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 760.05px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorOpen_5 {
  width: 57.9px;
  height: 11.52px;
  position: absolute;
  left: 761.89px;
  top: 275.59px;
  object-fit: cover;
  aspect-ratio: 57.9/11.52;
}
.doorNomal_6 {
  width: 60.35px;
  height: 11.62px;
  position: absolute;
  left: 760.02px;
  top: 211.25px;
  object-fit: cover;
  aspect-ratio: 60.35/11.62;
}
.doorClose_6 {
  width: 59.97px;
  height: 11.89px;
  position: absolute;
  left: 760.04px;
  top: 210.72px;
  object-fit: cover;
  aspect-ratio: 59.97/11.89;
}
.doorOpen_6 {
  width: 60.87px;
  height: 12.49px;
  position: absolute;
  left: 760.85px;
  top: 210.2px;
  object-fit: cover;
  aspect-ratio: 60.87/12.49;
}
.doorNomal_7 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 1007.05px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorClose_7 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 1007.05px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorOpen_7 {
  width: 57.9px;
  height: 11.52px;
  position: absolute;
  left: 1008.9px;
  top: 275.59px;
  object-fit: cover;
  aspect-ratio: 57.9/11.52;
}
.doorNomal_8 {
  width: 60.35px;
  height: 11.62px;
  position: absolute;
  left: 1007.03px;
  top: 211.25px;
  object-fit: cover;
  aspect-ratio: 60.35/11.62;
}
.doorClose_8 {
  width: 59.97px;
  height: 11.89px;
  position: absolute;
  left: 1007.05px;
  top: 210.72px;
  object-fit: cover;
  aspect-ratio: 59.97/11.89;
}
.doorOpen_8 {
  width: 60.87px;
  height: 12.49px;
  position: absolute;
  left: 1007.86px;
  top: 210.2px;
  object-fit: cover;
  aspect-ratio: 60.87/12.49;
}
.doorNomal_9 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 1116.74px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorClose_9 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 1116.74px;
  top: 275.62px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorOpen_9 {
  width: 57.9px;
  height: 11.52px;
  position: absolute;
  left: 1118.58px;
  top: 275.59px;
  object-fit: cover;
  aspect-ratio: 57.9/11.52;
}
.doorNomal_11 {
  width: 59.37px;
  height: 11.81px;
  position: absolute;
  left: 1218.68px;
  top: 220.14px;
  object-fit: cover;
  aspect-ratio: 59.37/11.81;
}
.doorClose_11 {
  width: 59.37px;
  height: 11.81px;
  position: absolute;
  left: 1218.68px;
  top: 220.14px;
  object-fit: cover;
  aspect-ratio: 59.37/11.81;
}
.doorOpen_11 {
  width: 59.37px;
  height: 11.81px;
  position: absolute;
  left: 1218.68px;
  top: 220.14px;
  object-fit: cover;
  aspect-ratio: 59.37/11.81;
}
.doorNomal_10 {
  width: 60.35px;
  height: 11.62px;
  position: absolute;
  left: 1116.71px;
  top: 211.25px;
  object-fit: cover;
  aspect-ratio: 60.35/11.62;
}
.doorClose_10 {
  width: 59.97px;
  height: 11.89px;
  position: absolute;
  left: 1116.73px;
  top: 210.72px;
  object-fit: cover;
  aspect-ratio: 59.97/11.89;
}
.doorOpen_10 {
  width: 60.87px;
  height: 12.49px;
  position: absolute;
  left: 1117.54px;
  top: 210.2px;
  object-fit: cover;
  aspect-ratio: 60.87/12.49;
}
.doorNomal_12 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 1380.16px;
  top: 271.18px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorClose_12 {
  width: 59.86px;
  height: 11.91px;
  position: absolute;
  left: 1380.16px;
  top: 271.18px;
  object-fit: cover;
  aspect-ratio: 59.86/11.91;
}
.doorOpen_12 {
  width: 57.9px;
  height: 11.52px;
  position: absolute;
  left: 1382px;
  top: 271.15px;
  object-fit: cover;
  aspect-ratio: 57.9/11.52;
}
.rectangle-1 {
  background: #ff0000;
  border-style: solid;
  border-color: #000000;
  border-width: 0.3px;
  width: 53px;
  height: 8px;
  position: absolute;
  left: 214.78px;
  top: 222px;
}
.bcf4_pattern_number {
    background: #f5c98b;
    width: 78px;
    height: 40px;
    position: absolute;
    left: 641px;
    top: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.bcf3_pattern_number {
    background: #f5c98b;
    width: 78px;
    height: 40px;
    position: absolute;
    left: 751px;
    top: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.bcf1_pattern_number {
    background: #f5c98b;
    width: 78px;
    height: 40px;
    position: absolute;
    left: 997px;
    top: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.bcf2_pattern_number {
    background: #f5c98b;
    width: 78px;
    height: 40px;
    position: absolute;
    left: 1107px;
    top: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    color: #333;
}

.cm2_tong_number {
    background: #f5c98b;
    width: 46px;
    height: 14px;
    position: absolute;
    left: 384px;
    top: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.bcf4_tong_number {
    background: #f5c98b;
    width: 46px;
    height: 14px;
    position: absolute;
    left: 657px;
    top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.bcf3_tong_number {
    background: #f5c98b;
    width: 46px;
    height: 14px;
    position: absolute;
    left: 767px;
    top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.bcf1_tong_number {
    background: #f5c98b;
    width: 46px;
    height: 14px;
    position: absolute;
    left: 1014px;
    top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.bcf2_tong_number {
    background: #f5c98b;
    width: 46px;
    height: 14px;
    position: absolute;
    left: 1124px;
    top: 129px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}

.cm_tong_number {
    background: #f5c98b;
    width: 46px;
    height: 14px;
    position: absolute;
    left: 1387px;
    top: 192px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    color: #333;
}
